/* Body */
.container{
    margin: auto;
    width: 574px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: beige;    
}


/* Haut du site */
.userCompte{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px ;
    padding-left: 5px;
    border: 1px rgb(226, 18, 18) solid;
}
.logo_header{
    width: 150px;
    padding: 10px;
}
.login_section{
    border: 1px solid rgb(109, 0, 100);
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo_login{
    width: 20px;
    padding-right: 5px;
}


/* Partie section et commentaire */
section{
    padding: 10px;
    border: 1px solid blue;
}
.sectionActeur{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bloc_partner{
    border: 1px rgb(0, 85, 38) solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.logo_png{
    width: 400px;
    height: 150px;
    margin: 10px;
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acteurDesc{
    border: 1px rgb(134, 0, 0) solid;
    width: 400px;
}
.readMore{
    align-items: flex-end;
    justify-content: flex-end;
}

/* Partie formulaire inscription/connection */
form{
    border: 1px black solid;
    height: 300px;
    text-align: center;
}
label{
    /*border: 1px black solid;*/
    display: flex;
    flex-direction: column;
}

/* Pied de page */
footer{
    border: 1px black solid;
    text-align: center;
}











@media screen and (min-width: 1000px){
.container{
    margin: auto;
    width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:#F3F5F3;
}


}



