html{
    background-color: beige;
}
                        /* Body */
.container{
    margin: auto;
    width: 574px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);    
    border-left: 2px solid black;
    border-right: 2px solid black;
}
h1{
    text-align: center;
}
button {
    padding: 15px 100px;
    margin: 10px 4px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    position: relative;
  }
  button:hover {
    opacity: 0.5;
  }
                        /* Haut du site */
.userCompte{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav{
    font-family: 'Roboto Slab', serif;
    display: flex;
    z-index: 1;
    width: 565px;
    border-bottom: 3px black solid;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px ;
    padding-left: 5px;
}
ul{
    display: flex;
    position: relative;
    right: 19px;
    justify-content:center;
    flex-direction: column;

}
.logo_header{
    width: 150px;
    padding: 10px;
}
.login_section{

}
.logo_login{
    width: 20px;
    padding-right: 5px;
}


                            /* Partie section et commentaire */



                            
.section_presentation{
    text-align: center;
    border-bottom: 3px solid black;
}
.h1_presentation{
    text-align: center;
}                      
.p_presentation{
    text-align: center;
}      
section{
    padding: 10px;
}
.sectionActeur{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bloc_partner{
    border: 2px rgb(0, 85, 38) solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.logo_png{
    width: 400px;
    height: 150px;
    margin: 10px;
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acteurDesc{
    border: 1px rgb(134, 0, 0) solid;
    width: 400px;
}
.readMore{
    align-items: flex-end;
    justify-content: flex-end;
}


                            /* Partie formulaire inscription/connection */
form{
    height: 350px;
    text-align: center;
}
label{
    /*border: 1px black solid;*/
    display: flex;
    flex-direction: column;
}

                            /* Pied de page */
footer{
    border-top: 3px black solid;
    text-align: center;
}
                
                            /* responsive mode*/
/* @media screen and (min-width: 1000px){
.container{
    margin: auto;
    width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:#F3F5F3;
} */


}



