                        /* Mobil First */
html{
    background-color: #dae4f5;
    display: flex;
    justify-content: center;
}
                        /* Body */
.container{
    width: auto;
    max-width: 360px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;   
    margin: 10px; 
}
b{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;   
    margin: 10px; 
}
button{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;    
    background-color: #5B85F1;
    border: none;
    color: #fdfeff;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-top: 10px;
}
button:hover {
    color: #5B85F1;
    background-color: #fdfeff;
    border: #5B85F1 solid 2px;
  }
  label{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;  
    width: 200px;
  }
  input{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;  
    background-color: #fdfeff;
    width: 200px;
    border-radius: 5px;
  } 
                        /* Haut du site */
.userCompte{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    background-color: #fdfeff;
    border-radius: 5px;
}
ul{
    display: flex;
    position: relative;
    right: 19px;
    top: -10px;
    justify-content:center;
    flex-direction: column;
}
li{
    font-family: 'Poppins', sans-serif;
}
.logo_header{
    width: 100px;
    
}
.logo_login{
    width: 20px;
    padding-right: 5px;
}
.login_section{
text-align: center;
}
                            /* Partie section et commentaire */
                           
.img_illu{
    position: relative;
    width: 320px;
    border: none;

}      
section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: #fdfeff;
    border-radius: 5px;
    padding: 20px;
}
.sectionActeur{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fdfeff;
    border-radius: 5px;
}
.bloc_partner{
    display: flex;
    align-items: unset;
    flex-direction: column;

}
.bloc_Commentaires{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fdfeff;
    border-radius: 5px;
    padding: unset;
}
.button_input{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;    
    background-color: #5B85F1;
    border: none;
    color: #fdfeff;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    margin-top: 10px;  
}
.button_input :hover{
    color: #5B85F1;
    background-color: #fdfeff;
    border: #5B85F1 solid 2px;
}
.acteurDesc >p{
    margin: unset;
}
textarea{
    resize: none;
    border: #000000 solid 2px;
    border-radius: 5px;
    width: 300px;
}
.logo_png{
    width: 300px;
}   
.like_dislike{
    position: relative;
    left: 100px;
    width: 90px;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: space-around;
}
.icon_like{
    width: 30px;
    height: 30px;
    background-size: cover;
    border: none;
}
.iconLikeOn{
    background-image: url("./ressources/like_dislike/like_on.png");
}
.iconLikeOff{
    background-image: url("./ressources/like_dislike/like_off.png");   
    cursor: pointer; 
}
.iconDislikeOn{
    background-image: url("./ressources/like_dislike/dislike_on.png");    
}
.iconDislikeOff{
    background-image: url("./ressources/like_dislike/dislike_off.png");
    cursor: pointer; 
}

.commentaire{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #dae4f5;
    border-radius: 5px;
    width: 300px;
    
}
.p_commentaire_date{
    margin-top: 0px;
    margin-bottom: 0px;
}
.b_commentaire{
    margin: 10px;
}

                            /* Partie formulaire inscription/connection */
form{
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;  
}
.form_coms{
    width: 300px;
    border: unset;
}
label{
    /*border: 1px black solid;*/
    display: flex;
    flex-direction: column;
}

                            /* Pied de page */
footer{

    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fdfeff;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}
#profil_param{
    display: flex;
    flex-direction: column;
}


                
                            /* responsive mode*/
@media screen and (min-width: 1000px){
/* .container{
    margin: auto;
    width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;

}
.acteurDesc > p{
    font-size: 17px;
} */

                            /* responsive Nav bar*/     
/* nav{
    display: flex;
    justify-content:space-between;
    flex-direction:unset;
    font-family: 'Roboto Slab', serif;
    width: 990px;
    padding-right: 5px ;
    padding-left: 5px;
} 
.logo_header{
    width: 200px;
    padding: 10px;
    
}
.login_section{
    position: relative;
    top: 20px;
}
ul{
    display: flex;
    position: relative;
    right: 5px;
    top: -10px;
    justify-content:unset;
    flex-direction: column;

}
.userCompte{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

} */
                            /* responsive section*/
/* .bloc_partner{
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    margin: 5px;
}

.readMore{
    position: relative;
    top: 50px;
    left: unset;
    right: 2px;
}
.logo_png{
    border: 2px solid rgb(0, 0, 0);
    width: 400px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

                            /* responsive form*/





}



